:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #767575;
    --gray-dark: #434242;
    --green: #28a745;
    --teal: #20c997;
    --primary: #5FCB71;
    /*算是最喜欢的颜色了*/
    --light-green:#55ff7f;
    --success: #28a745;
    --secondary: #4f4f4f;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #c2c2c2;
    --dark: #434242;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

.cursor-help{
    cursor: help;
}
.cursor-not-allowed{
    cursor: not-allowed;
}

.blog_select_build_type{
    margin-top: 10px;
}

.blog_select_build_type ul {
    display: flex;
}

.blog_select_build_type ul li {
    margin-right: 0.625rem;
}

.blog-flex-row{
    display: flex;
    flex-direction: row;
}
.checkbox, .radio {
    padding-top: 2px;
    padding-bottom: 5px;
    min-height: 27px;
    margin-top: 0;
    margin-bottom: 0;
}

.radio input[type="radio"]{
    position: absolute;
    opacity: 0;
}

.radio input[type="radio"]+ .radio-label:before{
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border-right: 1px solid #b4b4b4;
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    position: relative;
    top: -0.2rem;
    margin-right: 1rem;
    vertical-align: top;
    cursor: pointer;
    transition: all 250ms ease;
}

.radio-label{
    line-height: 1rem;
}

.radio input[type="radio"]:checked+ .radio-label:before{
    background-color: rgb(69, 171, 73);
    box-shadow: inset 0 0 0 4px #f4f4f4;
}

.radio input[type="radio"]:focus+ .radio-label:before{
    border-color: rgb(69, 171, 73);
    outline: none;
}
.radio input[type="radio"]:disabled+ .radio-label:before{
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #4b4b4b;
    background:#4b4b4b;
}

.radio input[type="radio"]+ .radio-label:empty:before{
    margin-right: 0;
}

.loading-black{
    color: #0b0b0b !important;
}

.csdn_blog_link_div{
    display: none;
}

.blog-step-title{

}

.dialog-tips-base {
    min-height: 2rem;
    text-align: center;
    position: fixed;
    top: 35%;
    line-height: 2rem;
    width: 100%;

}

.dialog-tips-base-msg {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    margin: auto;
    padding: 0 2rem;
    max-width: 16rem;
}

.dialog-tips-base-msg span {
    color: #fff;
    display: inline-block;
}

/*弹框样式*/
.dialog-tips-base {
    min-height: 2rem;
    text-align: center;
    position: fixed;
    top: 35%;
    line-height: 2rem;
    width: 100%;

}

.dialog-tips-base-msg {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    margin: auto;
    padding: 0 2rem;
    max-width: 16rem;
}

.dialog-tips-base-msg span {
    color: #fff;
    display: inline-block;
}

.modal {
    background-color: rgba(0, 0, 0, .6);
}
.model-body-main{
    display: flex;
    justify-content: center;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    /* position: fixed; */
    border-top: 1px solid #e5e5e5;
    display: flex;
    justify-content: center;
}
.modal-footer a {
    display: block;
    height: 39px;
    line-height: 38px;
    padding: 0 18px;
    background-color: var(--primary);
    color: var(--white) !important;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    width: 90px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 5px;
}

.modal-footer a:hover {
    text-decoration: none;
    opacity: .8;
}

.animated-bg {
    background-image: linear-gradient(to right,
    #f6f7f8 0%,
    #edeef1 10%,
    #f6f7f8 20%,
    #f6f7f8 100%);
    background-size: 200% 100%;
    animation: bgPos 1s linear infinite;
}

.w-e-menu{
    z-index: 2 !important;
}
.w-e-text-container{
    z-index: 1 !important;
}
.w-e-toolbar{
    z-index: 2 !important;
}

@keyframes bgPos {
    0% {
        background-position: 50% 0;
    }

    100% {
        background-position: -150% 0;
    }
}

@media screen and (max-width: 680px) {
    .mobile-flex{
        flex-direction: column;
    }
}
