.cursor-help{
    cursor: help;
}

.blog_select_build_type{
    margin-top: 10px;
}

.blog_select_build_type ul {
    display: flex;
}

.blog_select_build_type ul li {
    margin-right: 0.625rem;
}

.blog-flex-row{
    display: flex;
    flex-direction: row;
}