:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #767575;
    --gray-dark: #434242;
    --green: #28a745;
    --teal: #20c997;
    --primary: #5FCB71;
    /*算是最喜欢的颜色了*/
    --light-green:#55ff7f;
    --success: #28a745;
    --secondary: #4f4f4f;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #c2c2c2;
    --dark: #434242;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

::selection {
    background: var(--primary);
    color: #fff;
    text-shadow: none;
}
*:focus {
    outline: none;
}
.flex{
    display: flex;
}
a{
    cursor: pointer;
}
::-webkit-scrollbar
{
    width: 9px;
    height: 9px;
}
::-webkit-scrollbar-track-piece
{
    background-color: #ebebeb;
    -webkit-border-radius: 4px;
}
::-webkit-scrollbar-thumb:vertical
{
    height: 32px;
    background-color: #ccc;
    -webkit-border-radius: 4px;
}
::-webkit-scrollbar-thumb:horizontal
{
    width: 32px;
    background-color: #ccc;
    -webkit-border-radius: 4px;
}

/*loading*/
.preloader {
    background: #fff;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    display: block;
}
.preloader_image{
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(svg/preloader.svg);
}
.preloader span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: rgb(255, 255, 255,.1);
    display: inline-block;
    transition: all .5s;
    animation: animate 2s infinite;
}
.preloader span:nth-child(1){
    animation-delay: .1s;
}
.preloader span:nth-child(2){
    animation-delay: .2s;
}
.preloader span:nth-child(3){
    animation-delay: .3s;
}
.preloader span:nth-child(4){
    animation-delay: .4s;
}
.preloader span:nth-child(5){
    animation-delay: .5s;
}
.preloader span:nth-child(6){
    animation-delay: .6s;
}
.preloader span:nth-child(7){
    animation-delay: .7s;
}
.preloader span:nth-child(8){
    animation-delay: .8s;
}
@keyframes animate{

    0% {
        color: rgb(255, 255, 255,.1);
        transform: translateY(0);
        margin-left: 0;
    }
    25%{
        color: #4fab45;
        transform: translateY(-15px);
        margin-left: 10px;
        text-shadow: 0 15px 5px rgb(0,0,0,1);
    }
    100%{
        color: rgb(255, 255, 255,.1);
        transform: translateY(0);
    }
}

.center{
    display: flex;
    align-items: center;
    justify-content: center
}

.mobile-flex{
    display: flex;
    flex-direction: row;
}
.cursor-pointer{
    cursor: pointer;
}
.cursor-help{
    cursor: help;
}
.cursor-not-allowed{
    cursor: not-allowed;
}

.blog_select_build_type{
    margin-top: 10px;
}

.blog_select_build_type ul {
    display: flex;
}

.blog_select_build_type ul li {
    margin-right: 0.625rem;
}

.blog-flex-row{
    display: flex;
    flex-direction: row;
}
.checkbox, .radio {
    padding-top: 2px;
    padding-bottom: 5px;
    min-height: 27px;
    margin-top: 0;
    margin-bottom: 0;
}

.radio input[type="radio"]{
    position: absolute;
    opacity: 0;
}

.radio input[type="radio"]+ .radio-label:before{
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border-right: 1px solid #b4b4b4;
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    position: relative;
    top: -0.2rem;
    margin-right: 1rem;
    vertical-align: top;
    cursor: pointer;
    transition: all 250ms ease;
}

.radio-label{
    line-height: 1rem;
}

.radio input[type="radio"]:checked+ .radio-label:before{
    background-color: rgb(69, 171, 73);
    box-shadow: inset 0 0 0 4px #f4f4f4;
}

.radio input[type="radio"]:focus+ .radio-label:before{
    border-color: rgb(69, 171, 73);
    outline: none;
}
.radio input[type="radio"]:disabled+ .radio-label:before{
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #4b4b4b;
    background:#4b4b4b;
}

.radio input[type="radio"]+ .radio-label:empty:before{
    margin-right: 0;
}

.loading-black{
    color: #0b0b0b !important;
}

.hide {
    display: none !important;
}
.display-none{
    display: none;
}

.csdn_blog_link_div{
    display: none;
}

.blog-step-title{

}
.blog-col-10{
    width: 83.3333%!important;
}

.dialog-tips-base {
    min-height: 2rem;
    text-align: center;
    position: fixed;
    top: 35%;
    line-height: 2rem;
    width: 100%;

}

.dialog-tips-base-msg {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    margin: auto;
    padding: 0 2rem;
    max-width: 16rem;
}

.dialog-tips-base-msg span {
    color: #fff;
    display: inline-block;
}

/*弹框样式*/
.dialog-tips-base {
    min-height: 2rem;
    text-align: center;
    position: fixed;
    top: 35%;
    line-height: 2rem;
    width: 100%;

}

.dialog-tips-base-msg {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    margin: auto;
    padding: 0 2rem;
    max-width: 16rem;
}

.dialog-tips-base-msg span {
    color: #fff;
    display: inline-block;
}

.modal {
    background-color: rgba(0, 0, 0, .6);
}
.model-body-main{
    display: flex;
    justify-content: center;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    /* position: fixed; */
    border-top: 1px solid #e5e5e5;
    display: flex;
    justify-content: center;
}
.modal-footer a {
    display: block;
    height: 39px;
    line-height: 38px;
    padding: 0 18px;
    background-color: var(--primary);
    color: var(--white) !important;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    width: 90px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 5px;
}

.modal-footer a:hover {
    text-decoration: none;
    opacity: .8;
}
/*提示框样式*/
/*弹框样式*/
.dialog-tips-base {
    z-index: 99999;
    min-height: 2rem;
    text-align: center;
    position: fixed;
    top: 35%;
    line-height: 2rem;
    width: 100%;
}

.dialog-tips-base-msg {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    margin: auto;
    padding: 0 2rem;
    max-width: 16rem;
}

.dialog-tips-base-msg span {
    color: #fff;
    display: inline-block;
}

.animated-bg {
    background-image: linear-gradient(to right,
    #f6f7f8 0%,
    #edeef1 10%,
    #f6f7f8 20%,
    #f6f7f8 100%);
    background-size: 200% 100%;
    animation: bgPos 1s linear infinite;
}
.saved-message {
    padding: 3px;
    padding-bottom: 5px;
}
.myaccount-content h3, .myaccount-content .h3 {
    margin-bottom: 0px;
}
/*wangedit富文本*/
.w-e-menu{
    z-index: 2 !important;
}
.w-e-text-container{
    z-index: 1 !important;
}
.w-e-toolbar{
    z-index: 2 !important;
}
.blog-resizable-helper{
    border: 2px dotted #5FCB71;
}


/*简单富文本*/

#container {
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dbdbdb;
}
#container h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 40px;
    letter-spacing: -2px;
    border-bottom: 1px solid #dbdbdb;
}

#container h2 {
    font-size: 32px;
    line-height: 42px;
}

#container h3 {
    font-size: 26px;
    line-height: 32px;
}

#container h4 {
    font-size: 24px;
    line-height: 28px;
}

#container a {
    color:#45ab49;
    text-decoration : underline;
}

#container a:hover {
    color:#45ab49;
}

#container pre {
    font-family: 'Menlo', monospace;
    font-size: 15px;
    background-color: #f0f0f0;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #666;
}


#container blockquote {
    display: block;
    padding-left: 20px;
    border-left: 6px solid #45ab49;
    margin-left: -15px;
    padding-left: 15px;
    font-style: italic;
    color: #555;
}

/*markdown*/
#editable_markdown{
    background-color: #fff;
    font-size: 17px;
    border: 1px solid #dee2e6;
    padding: 0px 10px;
    height: 343px;
}
#markdown-editor{
    border: none;
    margin-top: 10px;
    margin-left: 10px;
}
/*选择类别*/
.mySelect{
    position: relative;
    padding: 0px !important;
}
.mySelect .inputWrap{
    width:100%;
    min-height: 40px;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
}
.mySelect ul{
    padding:0 5px ;
    margin: 0;
    padding-right: 35px;
}
.mySelect ul,li{
    list-style: none;
}
.mySelect li{
    display: inline-block;
    background: #eaeaea;
    padding: 5px;
    margin: 2px 5px 2px 0;
    border-radius: 5px;
}
.mySelect .fa-close{
    cursor: pointer;
}
.mySelect .fa-close:hover{
    color: #dee2e6;
}
.mySelect .mySelect-option{
    z-index: 3;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: scroll;
    position: absolute;
    height: 0;
    opacity: 0;
}
.mySelect .mySelect-option div{
    padding: 10px;
}
.mySelect .inputWrap>i{
    position: absolute;
    padding: 13px;
    right: 0;
    top: 0;
}
.mySelect-option div{
    cursor: pointer;
    border-bottom: 1px solid #e7e7e7;
    margin: 5px;
}
.mySelect-option div i{
    float: right;
    color: #ffffff;
}
.mySelect-option div.selected{
    background: #45ab49;
    color: #ffffff;
    border-radius: 5px;
}
.mySelect-option div:hover{
    color: #707070;
    background-color: #b2e0b6;
}

.without-blog-class-big,.without-blog-class-small{
    color: #45ab49;
    font-size: 13px;
    font-weight: bold;
}

.blog-save-lastdate{
    margin-right: 10px;
    padding-top: inherit;
}
.markdown_top{
    display: none;
    margin-left: 10px;
    cursor: pointer;
    color: #4fab45;
}


/*星星*/
.five-star-level {
    text-align: center;
    font-size: 12px;
    color: #707070;
    position: relative;
}
.five-star-level-choose {
    background: url(images/starGhost.png) repeat-x;
    background-size: 30px 30px;
    height: 30px;
    width: 150px;
}
.five-star-level-selected {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 30px;
    cursor: pointer;
}
.five-star-level-selected .level1, .five-star-level-selected .level2, .five-star-level-selected .level3, .five-star-level-selected .level4, .five-star-level-selected .level5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    opacity: 0;
    background: url(images/star.png);
    background-size: 30px 30px;
    cursor: pointer;
    -webkit-transition: all 500ms ease-out 0ms;
}
.five-star-level-selected .level2 {
    left: 30px;
}
.five-star-level-selected .level3 {
    left: 60px;
}
.five-star-level-selected .level4 {
    left: 90px;
}
.five-star-level-selected .level5 {
    left: 120px;
}
.star-selected{
    transform:scale(1.3);
    opacity:1 !important;
}
.account-details-form{
    margin-top: 10px;
}
/*图片裁剪*/
#avatar-modal .modal-title {
    font-weight: 600;
    color: #fff;
    font-size: 1.125rem;
}

#avatar-modal .modal-header {
    padding: 15px;
    font-weight: 600;
    line-height: 1;
}
#avatar-modal .btn-close {
    right: 20px;
    color: #fff !important;
    background: none;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    padding: 0px;
}
#avatar-modal label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
#avatar-modal .btn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
#avatar-modal .row {
    margin-right: -15px;
    margin-left: -15px;
}

#avatar-modal .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

#avatar-modal .modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
    box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
}

.editor_js{
    position: relative;
    font-weight: normal;
    color: #1a2225;
    font-size: 14px;
    line-height: 36px;
    display: block;
}

.editor_js a:hover{
    color: #45ab49;
}
.progress-bar{
    background-color: #45ab49;
}
.blog-small-class-label{
    pointer-events: none;
}
.blog-description-grid2{
    text-overflow: ellipsis;
    overflow: hidden;
}
.entry-author_style-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.entry-author.entry-author_style-1 .entry-author__avatar {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.entry-author .entry-author__avatar {
    margin-bottom: 15px;
}
.entry-author.entry-author_style-1 .entry-author__avatar img {
    width: 80px !important;
    height: 80px !important;
}
.entry-author .entry-author__avatar img {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    overflow: hidden;
}
.entry-author.entry-author_style-1 .entry-author__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.single-box-translate .entry-author a.entry-author__name {
    font-size: 1rem;
}
.entry-author a.entry-author__name {
    font-size: 1rem;
    line-height: 1;
    font-weight: 600;
    letter-spacing: .04em;
    color: #222;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 6px;
}

.entry-author a.entry-author__description {
    font-size: .5rem;
    line-height: 1;
    font-weight: 600;
    letter-spacing: .04em;
    color: #8f8f8f;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 6px;
}

.entry-author time.time {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    color: #222;
    opacity: .6;
    text-transform: capitalize;
    letter-spacing: 0;
    text-align: center;
}

.socials-share-box {
    margin-top: 15px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}
.theiaStickySidebar:after {
    content: "";
    display: table;
    clear: both;
}
.blog-detail-author{
    padding-top: 0px;
    padding-bottom: 1px;
    position: fixed;
    width: 120px;
    top: 80px;
    /*left: 366.5px;*/
}
.socials-share-box:before {
    content: '';
    display: block;
    width: 1px;
    height: 78px;
    background-color: #aaaaaa;
    margin: 0 auto 22px auto;
}
.social-list {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-size: 1rem;
    list-style: none;
}
.socials-share-box ul li:not(:last-child) {
    margin-bottom: 10px;
}
.socials-share-box ul li a {
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid #aaaaaa;
    color: #fff;
    margin: 0 !important;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.social-list>li>a {
    color: #222;
    opacity: .5;
}
.social-list>li>a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    padding: 0 0.4em;
    color: rgba(0,0,0,.8);
    line-height: 20px;
    -webkit-transition: all .15s ease-out 0s;
    -o-transition: all .15s ease-out 0s;
    transition: all .15s ease-out 0s;
}
.socials-share-box .share-item__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.socials-share-box ul li a svg {
    fill: rgba(34, 34, 34, .5);
    width: 21px;
    height: 21px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
svg:not(:root) {
    overflow: hidden;
}
.social-list>li>a:hover {
    color: #222;
    opacity: 1;
}
.social-list>li>a:hover, .social-list>li>a:focus, .social-list>li>a:active {
    color: rgba(0,0,0,.4);
}
.socials-share-box ul li a:hover {
    background-color: #28a745 !important;
}
.widget-tag-bq{
    font-weight: bold !important;
    border: 0px;
    color: #0a001f;
    font-size: 1rem;
}
.widget-tag-bq:hover {
    color: #0a001f;
    background: #fff;
    border-color: #fff;
}
.vcp_inf.pc {
    margin: 30px 0 44px;
    position: relative;
    width: 100%;
}
.vcp_inf {
    display: table;
    margin-bottom: 29px;
    position: relative;
}
.vc_hd {
    display: table-cell;
    float: left;
    width: 60px;
    height: 60px;
}
.vc_hd > img{
    border-radius: 100px;
}
.vcp_inf.pc form {
    position: relative;
    float: right;
    width: calc(100% - 100px);
    margin-top: 18px;
}
.vcp_inf.pc form input {
    color: #7e7e7e;
    font-size: 16px;
    padding-bottom: 19px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #e2ebef;
}
.vcp_inf.pc form button {
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    background-color: #6e6f70;
    border-radius: 30px;
    position: absolute;
    top: -8px;
    right: 0;
    border: none;
    height: 38px;
    line-height: 38px;
    padding: 0 32px;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}
.rt-cmt {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 160px;
}
.vcp_inf.pc form button:hover{
    color: #fff;
    background-color: #4fab45;
}
.code_change{
    left: 10px;
    top: 10px;
    display: block;
    width: 72px;
    color: #ffffff;
    background-color: #9999AA !important;
    padding: 2px 8px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgb(0 0 0 / 5%), 0 2px 4px rgb(0 0 0 / 5%);
}
code{
    display: block;
    overflow-x: auto;
    padding: 0.5em;
}
#blog_detail_delete,#blog_detail_update{
    margin-left: 10px;
}
#blog_detail_delete:hover,#blog_detail_update:hover{
    color: #4fab45;
}
@keyframes bgPos {
    0% {
        background-position: 50% 0;
    }

    100% {
        background-position: -150% 0;
    }
}

@media screen and (max-width: 680px) {
    .mobile-flex{
        display: flex;
        flex-direction: column;
    }
}
